{% extends 'base.html' %}
{% block jsLink %}
    <script defer src="../../../static/js/general.js"></script>{% endblock %}
{% block title %}message{% endblock %}

{% block content %}
    <main class="aboutUs signIn">
        <center>
            <h3 style="color: rgb(136, 64, 86);"> In order to search a manicurist please sign in\sign up.</h3>
         <h3 style="color: rgb(136, 64, 86);"> but here is a cute picture of a dog in the mean time:)</h3>
            <img style="width: 300px" src="../../../static/media/dog.jpeg">
        </center>
    </main>

{% endblock %}