<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {% block jsLink %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="gridContainerB">
        {% include 'header.html' %}


        <div class="menuBusiness">
            {% block left %}{% endblock %}
        </div>

        <div class="aboutMenicurist">
            {% block up %} {% endblock %}
        </div>

        <div class="MenicuristPics">
            {% block right %} {% endblock %}
        </div>

        {% include 'footer.html' %}

    </div>
</body>

</html>