{% extends 'base.html' %}
{% block jsLink %}
    <script defer src="../../../static/js/general.js"></script>{% endblock %}
{% block title %}Sign In{% endblock %}

{% block content %}
    <main class="aboutUs signIn">
        <form id="SignInForm" action="/after_click_sign_in" method="post">
            {% if message %}
                <h3 style="color: red">{{ message }}</h3>
            {% endif %}
            <fieldset>
                <label id="email" for="email"> Email: </label>
                <i class="fa-solid fa-envelope"></i>

                <input type="email" name="email" id="email" class="inputs" required>
                <p></p>

                <label for="password">Password: </label>
                <i class="fa-solid fa-key"></i>
                <input type="password" id="password" name="password" required>
                <span class="eye" onclick="showPassword()">
                <i id="hide1" class="fa-solid fa-eye"></i>
                <i id="hide2" class="fa-solid fa-eye-slash"></i>
            </span>
                <p></p>

                <button id="SignInButton" class="SignButton">Sign In</button>

            </fieldset>
        </form>
    </main>

{% endblock %}